.summary-top-card{
  margin: 1em;
  margin-bottom: 1.5em;
}

.summary-mid-card{
  margin: 1em;
}


.top-card-1-content{
  text-align: center;
}

.top-card-1-content-number{
  font-weight: bold;
  font-size: 200%;
}

.fa-caret-up{
  color: green;

}

.fa-caret-down{
  color:red;
}

.percentage-number{
  font-size: 125%;
  font-weight: 150;
}

.prev-number{
  color: grey;
}

.mid-row-right-1{
  text-align: center;
}

.mid-row-content-percent{
  font-weight: bold;
  font-size: 150%;
}

.mid-row-content-arrow{
  font-size: 110%;
}

.mid-card-1{
  min-width: 100%;
}

.widget_area_spline{
  min-width: 100%;
}

.card-summary-web-2{
  margin-top: 1.5em;
}

.hr_line{
  color: black;
}

.center{
  text-align: center;
}
