<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar><span class="logo_icon"><i class="far fa-chart-bar"></i> StaticMach</span> </mat-toolbar>
<mat-divider></mat-divider>
    <mat-nav-list>


      <a mat-list-item
        routerLink="/web-performance/dashboard"
        routerLinkActive="active-link">
        <i class="fas fa-columns"></i>&nbsp;&nbsp; Dashboard</a>



      <a mat-list-item
        routerLink='/web-performance/web-traffic'
        routerLinkActive="active-link"><i class="fas fa-globe-asia"></i> &nbsp;&nbsp; Web Traffics Report</a>

      <a mat-list-item
        routerLink='/web-performance/user-metric'
        routerLinkActive="active-link"><i class="fas fa-chart-line"></i> &nbsp;&nbsp; User Behavior Report</a>

<mat-divider></mat-divider>


      <!-- <a mat-list-item
        routerLink="/subscription"
        routerLinkActive="active-link"><i class="fas fa-chart-line"></i> &nbsp;&nbsp; Subscription</a> -->
<!-- <mat-divider></mat-divider> -->

      <!---
      <a mat-list-item [routerLink]="route4" routerLinkActive="active-link"><i class="fas fa-calendar-check"></i> &nbsp; {{ list_item_4 }}</a>
      <a mat-list-item [routerLink]="route5" routerLinkActive="active-link"><i class="fas fa-plus-circle"></i> &nbsp; {{ list_item_5 }}</a>
    -->
      <a (click)="logout()"  routerLinkActive="active-link" mat-list-item href="#"><i class="fas fa-sign-out-alt"></i> &nbsp; {{ list_item_6 }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="toolbar_2">
      <mat-toolbar style="color:white">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span class="spacer">
          <span class="logo_icon"><i class="far fa-chart-bar"></i> StaticMach</span>
        </span>

      <div class="account_menu">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="account menu button">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>

         <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
     </div>
    </mat-toolbar>
  </div>

      <!-- Add Content Here -->
    <ng-content></ng-content>



  </mat-sidenav-content>
</mat-sidenav-container>
