<side-nav-cts>



<mat-grid-list cols="1" rowsHeight="1:1">
  <div class="content" fxLayout="row wrap">



    <div class="wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card class="form-card mat-elevation-z10">
        <mat-card-header>
          <mat-card-title>Add new data source</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>

        <mat-card-content>
          <form  fxLayout="row wrap" fxLayoutGap="20px grid">
            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
              <mat-label>File Name</mat-label>
              <input matInput placeholder="Enter the file name here." type="text" >
              <mat-error>Please enter file name.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
              <mat-label>File Type</mat-label>
              <mat-select>
                <mat-option value="1"><i class="fas fa-file-csv"></i>  .csv</mat-option>
                <mat-option value="2"><i class="far fa-file-pdf"></i>  .pdf</mat-option>
                <mat-option value="3"><i class="far fa-file-word"></i>  .docx (Word)</mat-option>
                <mat-option value="4"><i class="fas fa-database"></i>  .sql</mat-option>
                <mat-option value="5"><i class="far fa-file-alt"></i>  .txt</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
              <mat-label>Description</mat-label>
              <input matInput  placeholder="Placeholder" type="text" required>
              <mat-error>Please enter description</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
              <mat-label>Report</mat-label>
              <mat-select>
                <mat-option value="1"><i class="fas fa-file-import"></i> &nbsp; Product Category Sales Report</mat-option>
                <mat-option value="2"><i class="fas fa-file-import"></i> &nbsp; Monthly Sales Report</mat-option>
                <mat-option value="3"><i class="fas fa-file-import"></i> &nbsp; Detailed Report</mat-option>

              </mat-select>
            </mat-form-field>

            <div class="form-button-group" fxFlex="100%">
              <!-- <a (click)="editForm()" *ngIf="mode=='view'">Edit</a> -->
              <a href="/data-entry-management">Cancel</a>
              <!-- <button mat-raised-button color="warn" click="cancel()">Cancel</button> -->
              <button mat-raised-button color="primary" type="submit">Add</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>



  </div>
</mat-grid-list>
</side-nav-cts>
