<div class="wrapper-card">
  <mat-card class="form-card mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>Header</mat-card-title>
      <div fxFlex></div>
      <div class="searchbar">
        <input #searchbar matInput placeholder="search" type="text">
      </div>
      <div class="searchicon">
        <span  class="material-icons">search</span>
      </div>
      <div class="header-button-group">
         <a routerLink="/test-kit-table/form"><span class="material-icons">add</span></a>
      </div>
    </mat-card-header>

    <mat-card-content>
      content
    </mat-card-content>
  </mat-card>
</div>
