.margin-1{
  margin: 1.5em;
}

.page-title{
  font-size: 150%;
  margin-bottom: 0;
}

.page-subtitle{
  color:grey;
  font-weight: 150;
}


.footer_btm{
  text-align: center;
  color: grey;
  font-style: italic;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /*#527c88*/
}
