.title{
  text-align: left;

}

.title_h1{
  font-size: 250%;
}

.button_top{
  text-align: right;
}

.button_top button{
margin-left: 0.5em;
margin-bottom: 0.5em;
}

.top-bar{
  text-align: center;
}
.main_content{
  margin: 3em;
}

.first_row_1{
  height: 24em;
}

.first_row_2{
  margin: 1em;
  padding-left: 2em;
}

.row_2_1
{
  margin-top: 1em;
  padding: 1em;
}


.row_3_2{
  margin-top: 2em;
}
