/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


//#40c4de; <- eye killing light blue
//Card Header - Background Color
:root{--customHeaderBackgroundColor:#40c4de}

//Button - Background Color
:root{--customButtonBackgroundColor:#40c4de}


//Side Nav - Background Color - NOT USED
:root{--customSidenavBackgroundColor1:#102b54}//#102b54
:root{--customSidenavBackgroundColor2:#05174f}//<-- this is most likely the sidenav color   //#05174f

//Side Nav Active - Background Color - NOT USED
:root{--customSidenavActiveBackgroundColor:#2363c4} //#2363c4


.highcharts-credits{
  visibility: hidden;
}

