<div class="wrapper-card">
  <!-- <mat-card class="form-card mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>Header</mat-card-title>
      <div fxFlex></div>

      <div class="header-button-group">
         <a routerLink="/test-kit-table/form"><span class="material-icons">add</span></a>
      </div>
    </mat-card-header>

    <mat-card-content>
      content
    </mat-card-content>
  </mat-card> -->


  <!-- <div fxLayout="row wrap"  fxLayoutGap="0 grid" class="big-card-wrapper">
    <div fxFlex="50%" class="small-card-wrapper">
      <mat-card  class="mat-elevation-z10">
          <app-card-area-chart label="Users" total="18k" percentage="50"></app-card-area-chart>
      </mat-card>
    </div>
    <div fxFlex="50%" class="small-card-wrapper">
      <mat-card  class="mat-elevation-z10">
          <app-card-area-chart label="Users" total="18k" percentage="50"></app-card-area-chart>
      </mat-card>
    </div>
    <div fxFlex="50%" class="">
      <mat-card  class="mat-elevation-z10">
          <app-card-area-chart label="Users" total="18k" percentage="50"></app-card-area-chart>
      </mat-card>
    </div>
    <div fxFlex="50%" class="">
      <mat-card  class="mat-elevation-z10">
          <app-card-area-chart label="Users" total="18k" percentage="50"></app-card-area-chart>
      </mat-card>
    </div>
  </div> -->

    <div class="left">
      <mat-card  class="mat-elevation-z3">
          <app-card-area-chart label="Today's Sales" total="18k" percentage="50"></app-card-area-chart>
      </mat-card>
      <mat-card  class="mat-elevation-z3">
          <app-card-area-chart label="Today's New Customer" total="18k" percentage="50"></app-card-area-chart>
      </mat-card>
    </div>
    <div class="right">
      <mat-card  class="mat-elevation-z3">
          <app-card-area-chart label="Today's Revenue" total="18k" percentage="50"></app-card-area-chart>
      </mat-card>
      <mat-card  class="mat-elevation-z3">
          <app-card-area-chart label="Today's Returning Customer" total="18k" percentage="50"></app-card-area-chart>
      </mat-card>
    </div>



    <!-- <div class="wrapper-2-3" >
      <mat-card  class="mat-elevation-z10">
          <app-card-area-chart label="Users" total="18k" percentage="50"></app-card-area-chart>
      </mat-card>
    </div>

    <div class="wrapper-2-4" >
      <mat-card  class="mat-elevation-z10">
          <app-card-area-chart label="Users" total="18k" percentage="50"></app-card-area-chart>
      </mat-card>
    </div> -->
</div>
