.top-bar{
  height: 5em;
  // background-color: green;
  text-align: right;
  padding: 1.5em 3em 0.5em 0;
}
.top-bar mat-form-field{
  padding: 0 0 0 1.5em;
}
.top-bar span{
  color: grey;
}
.wrapper{
  width: calc(100% - 6em);
  height: calc(100% - 8.5em);
  padding: 1em 3em 0 3em;
  overflow: scroll;
  // background-color: yellow;
}
.stats-cards{
 margin: 1.5em 1em;
}


mat-card{
  height: 55%;
  margin-bottom: 3em;
}
mat-card-header{
  background-color: var(--customHeaderBackgroundColor);
  background-image: url("/assets/image/Teal_gradient_background_3.jpg");
  border-radius: 4px 4px 0 0;
  padding: 1em 0 0.2em 1em;
  color: white;
}
.big-card{
  padding: 0;
}

.custom-card-content{
  height: calc(100% );
  width: 100%;
  // border-radius: 4px 0 0 4px;
  overflow: hidden;
  // background-color: green;
}

.left{
  // background-color: blue;
  width: 40%;
  max-width: 40%;
  height: 100%;
  display: inline-block;
  box-sizing:border-box !important;
  overflow:hidden;
}

.right{
  // background-color: purple;
  width: 60%;
  height: 100%;
  display: inline-block;
  box-sizing:border-box !important;
  overflow:hidden;
  padding-right: 0.5em;
}

.top-right{
  width: 100%;
  height: 60%;
  // background-color: yellow;
}
.bottom-right{
  padding-top: 0.8em;
  width: 100%;
  height: 35%;

  // background-color: teal;
}
.table-left{
  // background-color: orange;
  width: 50%;
  height: 100%;
  padding: 0em 0.5em 0.5em 0.7em;
  display: inline-block;
  // color: green;
}
.table-right{
  // background-color: lightgreen;
  width: 50%;
  height: 100%;
  padding: 0em 0 0.5em 1.2em;
  display: inline-block;
  // color: red;
}
td{
  padding: 0 0.3em;
}
th{
  text-align: left;
  padding: 0 0.3em;
}
.table-left tr:nth-child(5), .table-left tr:nth-child(6), .table-right tr:nth-child(3),{
  color: green;
}
.table-left tr:nth-child(4), .table-right tr:nth-child(6), .table-right tr:nth-child(7){
  color: red;
}
