<div class="card-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card class="form-card mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Don't have an account? click <a routerLink="/signup">here</a> to register</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form #loginForm="ngForm"  fxLayout="row wrap" fxLayoutGap="10px grid">
        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            name="username"
            placeholder="Enter username"
            ngModel
            required
            #username="ngModel">
            <mat-error *ngIf="username.invalid">Username is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            placeholder="Enter password"
            ngModel
            required
            #password="ngModel">
            <mat-error *ngIf="password.invalid">Password is required</mat-error>
        </mat-form-field>

        <div class="form-button-group" fxFlex="100%">
            <button mat-raised-button color="primary" type="submit" id="submitButton" routerLink="/dashboard">Login</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
