

mat-card-title{
  font-size: 8px !important;
}









h4{
  margin-top: 0;
  margin-bottom: 5px;
}

.total{
  font-size: 3em;
}

.mat-icon {
  color: green !important;
  font-size: 2em !important;
}
.description {
  color: green !important;
  font-size: 2em !important;
}

.mat-icon{
  position: relative;
  padding: 0;
  top: 5px;
}
