.main-wrapper {
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.main-wrapper .row {

}



.main-wrapper .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.main-wrapper .row.content {
  flex: 1 1 auto;
  background-color: green;
}

.main-wrapper .row.footer {
  flex: 0 1 40px;
}

.main{
  height: 100%;
}
