

.card-wrapper{
  // background-color: #439F9E;/*#A5C5C3*/
  height: 100%;
  width: 100% !important;
  max-width: 100%;
  display: flex;
  justify-content: center !important;
}
mat-card{
  margin: auto;
  /* margin: 10% auto; */
  padding: 0;
  max-width: 50em;
  display: block;
}


mat-card-header{
  // background-color: grey;
  background-color: var(--customHeaderBackgroundColor);
  // background-image: url("/assets/image/Teal_gradient_background_3.jpg");
  border-radius: 4px 4px 0 0;
  padding: 4em 0 2.4em 1em;
}
mat-card-title{
  font-size: 2.5em !important;
  color: white; /*#1200b5;*/ /*#006e7a*/
}
mat-card-subtitle{
  margin-top: 1em !important;
  color: #f5f5f5; /*#006e7a*/
}
mat-card-content{
  padding: 1em 2em 2em 2em;
}

mat-form-field{
  width: 100%;
}

.submitButton{
  background-color: var(--customButtonBackgroundColor) !important;
}

.form-button-group{
  text-align: right !important;
  width: 100% !important;
  // padding-top: 0.3em !important;
}
// .form-button-group button{
//   width: 100%;
//   max-width: 100% !important;
//   background-color: $theme-color !important;
// }

table{
    border: none !important;
    border-collapse: collapse;
}
tr{
}
tr:hover{
  background-color: #d9d9d9;//#c9c9c9;
}
td{
  padding: 2em 1.2em;
  border: none !important;
}
.package-name{
  font-size: 1.3em;
}
.package-description{
  color: #696969;
}
.my-class {
   background-color:  #d9d9d9;
   border: solid 1px #696969;
 }
 a{
   color: white;
 }
 // a{
 //   color: blue;
 //   text-decoration: none;
 // }
 // a:hover{
 //   color: blue;
 //   text-decoration: underline;
 // }
